# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

src/gday
src/version.c
src/gday.dSYM*

# build artefacts
src/*.d
src/version.c.tmp

# python
__pycache__/
*.pyc

# plots are not kept in the repo
*.png
